<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./views/css/admin.css">
</head>
<body>
    <div class="boxcenter">
        <header>
            <h1>Quản trị WEBSITE</h1>
          </header>
          <nav>
            <a href="?act=/">Trang chủ</a>
            <a href="#">Loại hàng</a>
            <a href="#">Hàng hoá</a>
            <a href="#">Khách hàng</a>
            <a href="#">Bình luận</a>
            <a href="#">Thống kê</a>
          </nav>
      <div class="tieude">
        <h2>Thêm một loại hàng</h2>
      </div>
      <div class="form">
        <form action="" method="POST">
           <div class="inputloai"> 
            <label>Mã loại:</label><br><br>
            <input type="text" name="maloai" disabled>
           </div>
           <div class="inputloai">
            <label>Tên loại:</label><br><br>
            <input type="text" name="tenloai">
           </div>
           <div class="chucnang">
           <input type="submit" value="Thêm mới">
            <input type="reset" value="Nhập lại">
            <a href="?act=ds_lh"><input type="button" value="Danh sách"></a>
           </div>
        </form>
      </div>
    </div>
</body>
</html>