<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./views/css/ds_lh.css">
</head>
<body>
    <div class="boxcenter">
        <header>
            <h1>Quản trị WEBSITE</h1>
          </header>
          <nav>
            <a href="?act=/">Trang chủ</a>
            <a href="#">Loại hàng</a>
            <a href="#">Hàng hoá</a>
            <a href="#">Khách hàng</a>
            <a href="#">Bình luận</a>
            <a href="#">Thống kê</a>
          </nav>
      <div class="tieude">
        <h2>Danh sách loại hàng</h2>
      </div>
      <div class="lietke">
         <table>
            <tr>
               <th></th>
               <th>MÃ LOẠI</th>
               <th>TÊN LOẠI</th>
               <th></th>
            </tr>
            <tr>
                <td><input type="checkbox" name="" id=""></td>
                <td>001</td>
                <td>Đồng hồ</td>
                <td>
                    <input type="button" value="Sửa">
                    <input type="button" value="Xoá">
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" name="" id=""></td>
                <td>001</td>
                <td>Đồng hồ</td>
                <td>
                    <input type="button" value="Sửa">
                    <input type="button" value="Xoá">
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" name="" id=""></td>
                <td>001</td>
                <td>Đồng hồ</td>
                <td>
                    <input type="button" value="Sửa">
                    <input type="button" value="Xoá">
                </td>
            </tr>
         </table>
      </div>
      <div class="button">
        <input type="button" value="Chọn tất cả">
        <input type="button" value="Bỏ chọn tất cả">
        <input type="button" value="Xoá các mục đã chọn">
        <input type="button" value="Nhập thêm">
      </div>
    </div>
</body>
</html>